<h1><%= @notebook.name %></h1>

<ul>
  <% if @lists %>
    <% @lists.each do |list| %>
      <li>
        <h2><%= link_to list.name, notebook_list_path(@notebook, list) %></h2>
      </li>
    <% end %>
  <% end %>  
  <li>
    <h2>
      <%= link_to "All Pages", notebook_pages_path(@notebook) %> 
    </h2>
  </li>
</ul>

<div>
  <p>
    <%= link_to "New List", new_notebook_list_path(@notebook), class: "button" %>
    <%= link_to "New Page", new_notebook_page_path(@notebook), class: "button" %>
  </p>
</div>